# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VS Code settings
.vscode/

# Ignore CSV Data files
data/
processed_data/

# Ignore environment variables and credentials
.env

# Ignore logs and temp files
*.log
*.tmp